
body{
  overflow: hidden;
  padding: 0 20px;
  
}

.wrapper{
  max-width: 500px;
  width: 100%;
  margin: 300px auto;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
  
}

.clear{
  position: absolute;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
  padding-top: 10px;
  display: none;
}

.far:hover{
  background-color: #0895cc;
  color: white;
  border-radius: 50%;
}

.clear1{
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
  padding-top: 10px;

}
.no-outline:focus {
  outline: none;
}
input:focus {
  outline:none !important;
}


.drop{
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border : none;
  cursor: pointer;

}
.clearable{
  position: relative;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  width:260px; /* or whatever width you want. */
   max-width:260px;

}
  
  .dropdown {
    position: relative;
    display: inline-block;
    border-right: none;
  }
  .dropdown-content {
    border-right: none;
    display: none;
    position: absolute;
    background-color: #f5f1f1a9;
    min-width: 160px;
    overflow: auto;
    width:260px; /* or whatever width you want. */
    max-width:260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  .dropdown-content td {
    color: black;
    padding: 10px 16px;
    width:223px; 
    /* min-width:260px;   */
    text-decoration: none;
    display: block;
  }
  .show {display: block; outline-color: rgba(0,0,0, 0);outline: unset;}
  .changeColor{background-color: #00b050;}
